<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Login</title>
</head>
<body>

    <form class="login_form" action="/login" method="POST">
        <h2 class="login_header">Login with:</h2>
        <button type="submit" class="google">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" style="height: 20px; margin-right: 10px;">
            Google
        </button>
        <button type="submit" class="github">
             <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub logo" style="height: 20px; margin-right: 10px;">
            Github
        </button>
    </form>

</body>
</html>
