<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
     <link rel="stylesheet" href="../styles/manager_guests.css">
    <title>Guests</title>
</head>
<body>
    <%- include('partials/manager_navigation') %>
    
    <section class="main_content" id="mainContent">
        <%- include('partials/topbar') %>
        <section class="top">
            <h2 id="heading">Guest Invitations</h2>
            <section class="overview">
                <span class="Total">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                    </svg>
                    10 Total
                </span>
                <span class="Accepted">1 Accepted</span>
                <span class="Pending">1 Pending</span>
                <span class="Declined">1 Declined</span>
            </section>
        </section>
        <section class="tablink">
            <button class="btn_tablink" onclick="openPage('Invitations',this)">Send Invitations</button>
            <button class="btn_tablink" onclick="openPage('Guest_list',this)">Guest List</button>
            <button class="btn_tablink" onclick="openPage('EmailTemplate',this)">EmailTemplate</button>
        </section>
            <section class="Invitations" id="Invitations">
                <section class="top_row">
                    <section class="add_guest">
                    
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                            Add Individual Guest
                        </p>
                        <input type="text" placeholder="Guest name" id="Guest_name"/>
                        <input type="email" placeholder="Email address" id="Guest_email"/>
                        <input 
                            type="hidden" 
                            id="manager-id" 
                            value="<%= user.id %>" 
                            data-name="<%= managerName %>" 
                        />
                        <h3 id="errorSection">etqrrg</h3>
                        <button id="sendInvite">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                            </svg>
                            Send Invitation
                        </button>
                    </section>
                    <section class="bulk_invite">
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>
                            bulk Invitations
                        </p>
                        <textarea type="email" placeholder="Enter email addresses(one per line)..." rows="5" id="bulk"></textarea>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>
                            send Bulk Invitations
                        </button>
                    </section>
                </section>
                
                <section class="hint">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                    <p>
                        Invitations will be sent using the email template. Make sure to customize the template before sending
                    </p>
                </section>
            </section>

            <section class="Guest_list" id="Guest_list">
                <section class="list_of_guests">
                    <h4>Guest list</h4>
                    <section class="guest">
                        <table class="guest_table">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Category</th>
                                <th>status</th>
                                <th>Sent Date</th>
                                <th>Actions</th>
                            </tr>
                            <tr>
                                <td>mualusi lilimu</td>
                                <td>lilimumualusi37@gmail.com</td>
                                <td>VIP</td>
                                <td>Accepted</td>
                                <td>2024-01-16</td>
                                <td><button class="resend">Resend</button></td>
                            </tr>
                        </table>
                    </section>
                </section>
            </section>
            <section class="EmailTemplate" id="EmailTemplate">
                <section class="template">
                    <p>Subject Line</p>
                    <input type="text">
                    <p>Message Body</p>
                    <textarea id="message_body" rows="8" placeholder="Write your email template here..."></textarea>
                    <button type="submit">Save Template</button>
                </section>
            </section>
    </section>

    <script src="../scripts/sidebar.js"></script>
    <script src="../scripts/manager_guests.js"></script>
</body>

</html>
