<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Chats</title>
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/staff-dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>



<h1>WELOCME TO TEAM CHATS</h1>

</body>
</html>
