<head>
  <link rel="stylesheet" href="../../styles/popup_announcement.css">
</head>

<section class="top_bar">
  <section class="left">
    <button id="toggle_btn">☰</button>
    <section class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
      </svg>
      <h3 class="heading">EventFlow</h3>
    </section>
  </section>
  <section class="logout">
    <form action="/logout" method="get" class="logout-form">
      <button type="submit" class="logout-btn">
        Logout
      </button>
    </form>
  </section>
  <section id="announcement-popup" class="announcement-container"></section>
  
</section>
<script src="/socket.io/socket.io.js"></script>

<script>
  
  socket.on('newAnnouncement', (a) => {
    const div = document.createElement('div');
    div.className = `announcement ${a.priority}`;
    div.innerHTML = `<strong>${a.title}</strong>: ${a.message}`;

    const container = document.getElementById('announcement-popup');
    container.appendChild(div);

    // auto-remove after 5s
    setTimeout(() => div.remove(), 5000);
  });
    socket.on('ProgramUpdate', (update) => {
    const div = document.createElement('div');
    div.className = `announcement ${update.priority}`;
    div.innerHTML = ` ${update.message}`;
    document.getElementById('announcement-popup').appendChild(div);

    setTimeout(() => {
        div.remove();
    }, 5000);
  });

</script>

</script>
