* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.1;
}


.chat_system{
    display: flex;
    flex-direction: row;
}
.inbox{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
     height: calc(100% - 40px);
    width: 70%;
    height: 90vh;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 3%;
    margin-left: 3%;
}
.members{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    height: 90vh;
    width: 30%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.heading{
    padding-left: 3%;
    padding-top: 3%;
}

.input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;  
    padding: 10px;
    background: #f5f5f5;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    gap: 10px;        
}


.input_message {
    flex: 1;            
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.input button {
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input button:hover {
    background-color: #0019fd;
}

.input button svg {
    width: 20px;
    height: 20px;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 3%;
    padding-left: 3%;
}
.message_sent{
    display: flex;
    flex-direction: column;

}

.message_received{
    display: flex;
    flex-direction: row;
}
.icon_frame{
    border-radius: 50%;
    background-color: #dfe0e2;
}
.text{
    padding-top: 0.5%;
    padding-left: 9%;
}
.icon{
    width: 30px;
    height: 30px;
}
